<div id="<%= dom_id worker %>">
  <p>
    <strong>First name:</strong>
    <%= worker.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= worker.last_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= worker.role %>
  </p>

</div>
