backend/.bundle
backend/.env*
!backend/.env*.erb

backend/log/*
backend/tmp/*
!backend/log/.keep
!backend/tmp/.keep

backend/tmp/pids/*
!backend/tmp/pids/
!backend/tmp/pids/.keep

backend/storage/*
!backend/storage/.keep
backend/tmp/storage/*
!backend/tmp/storage/
!backend/tmp/storage/.keep

backend/public/assets
backend/config/master.key
backend/erd.pdf
#Backend

#Fontos
.DS_Store
Thumbs.db