<div id="<%= dom_id resource %>">
  <p>
    <strong>Name:</strong>
    <%= resource.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= resource.category %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= resource.unit_price %>
  </p>

</div>
